/* styles.css */

/* General Styles */
body {
    background-color: #f5f5f5; /* Light background */
    color: #333; /* Dark text color for readability */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333; /* Dark text color */
    font-size: 2.5rem;
    font-weight: 700;
}

.card {
    background-color: #ffffff; /* White background for cards */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Lighter shadow */
}

.card-header {
    background-color: #00796b; /* Teal background */
    color: white;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 2rem;
    overflow: auto;
    max-height: 700px;
}

.table-container {
    overflow: auto;
    max-height: 700px;
}

.table {
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background for tables */
    font-size: 12px;
}

.table th,
.table td {
    vertical-align: middle;
    white-space: nowrap;
    color: #333; /* Dark text color */
}

.table th:first-child,
.table td:first-child {
    position: sticky;
    left: 0;
    background-color: #00796b; /* Teal background */
    color: white;
    z-index: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 121, 107, 0.1); /* Light teal */
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 121, 107, 0.2); /* Slightly darker teal on hover */
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #00796b; /* Teal background */
    border-color: #00796b;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004d40; /* Darker teal on hover */
    border-color: #004d40;
}

.modal-content {
    background-color: #ffffff; /* White background for modals */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Lighter shadow */
}
