<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prediction Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>

<div class="container-fluid mt-5">
    <div class="d-flex justify-content-between mb-4">
        <h1>Electricity Usage Prediction Dashboard</h1>
        <button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Upload XLSX Data</button>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Usage Data</h4>
                </div>
                <div class="card-body table-container">
                    <table id="usage_table" class="table table-striped">
                        <thead id="table-head">
                          <!-- Header akan diisi secara dinamis oleh JavaScript -->
                        </thead>
                        <tbody id="table-body">
                          <!-- Data akan diisi secara dinamis oleh JavaScript -->
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Prediction Data</h4>
                </div>
                <div class="card-body table-container">
                    <table id="prediction_table" class="table table-striped table-bordered">
                        <thead id="table-head">
                          <!-- Header akan diisi secara dinamis oleh JavaScript -->
                        </thead>
                        <tbody id="table-body">
                          <!-- Data akan diisi secara dinamis oleh JavaScript -->
                        </tbody>
                      </table>
                    
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Hasil Berdasarkan Kategori</h4>
                </div>
                <div class="card-body">
                    <div id="category_chart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Hasil Berdasarkan Wilayah</h4>
                </div>
                <div class="card-body">
                    <div id="region_chart" style="width: 100%; height: 400px;" ></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for uploading XLSX file -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload XLSX Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fileInput">Select XLSX file</label>
                        <input type="file" class="form-control-file" id="fileInput" name="file" required>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="clearData" name="clear_data">
                            <label class="form-check-label" for="clearData">Bersihkan Data (Truncate)</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chartModalLabel">Usage Data Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="chartContainer" style="height: 400px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="predictionChartModal" tabindex="-1" role="dialog" aria-labelledby="predictionChartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 850px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="predictionChartModalLabel">Prediction Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="predictionChartContainer" style="height: 400px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/main_1.js') }}"></script>
</body>
</html>
